/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ol, ul{
	margin-bottom: 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ==============
	MOBILE: Menu
   ============== */

/* ==============
	MOBILE: Main
   ============== */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Header */

.header-container {
	background-color: #FFE7E7;
}

.header-container img.logo {
	width: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-container nav {
	background-color: #FF9800;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-container nav ul{
	list-style: none;
}

.header-container nav a {
	color: #fff;
	text-decoration: none;
}

.header-container nav a:hover {
  color: #fff;
  text-decoration: none;
}

.header-container nav a div {
	background-color: #0784FF;
	width: 80%;
	margin: 20px auto;
	border-radius: 7px;
	padding: 10px 0;
	font-size: 20px;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.3);
}

.header-container nav a div:hover {
  font-size: 22px;
}

/* Banner Styles */
/*Si se llegase a activar el banner mediante jquery, se debera borrar el id bannerli*/
#bannerli {
	width: 100%;
}

.banner {
	position: relative;
	overflow: auto;
	width: 100%;
}

.banner ul {
	height: 100px;
}

.banner ul li {
	float: left;
	list-style: none;
}

.banner ul li img {
	width: 100%;
	height: 100px;
}

.banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

.banner .btn, .banner .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots li.active {
	background: #fff;
	opacity: 1;
}

.banner .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

.withborder {
	border-radius: 25px !important;
}

/* Courses Section */
.courseimg {
	height: 300px;
	width: 500px;
}

.courses-section {
	padding-top: 0px;
	padding-bottom: 40px;
}

.courses-section > .title {
	font-size: 36px;
	font-weight: 700;
}

.courses-section .courses .course {
	margin-top: 60px;
	margin-bottom: 60px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */

   /* Header */

   .header-container nav div {
		padding: 12px 0;
		font-size: 22px;
	}

	.header-container nav div:hover {
	  font-size: 24px;
	}

}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE: CSS3 Effects
   ==================== */


/* ============
	WIDE: Menu
   ============ */

   /* Header */

   .header-container img.logo {
		width: 75px;
   }

	.header-container nav li {
		display: inline-block;
		width: 45%;
		margin-left: 2.5%;
		margin-right: calc( 2.5% - 4px );
	}

	.header-container nav a div {
		width: 100%;
		margin: 10px auto;
	}

/* ============
	WIDE: Main
   ============ */

   /* Courses Section */

   .courses-section .courses .course {
		margin-top: 60px;
		margin-bottom: 60px;
		display: inline-block;
		width: 45%;
		margin-left: 2.5%;
		margin-right: calc( 2.5% - 3px );
   }

}

@media only screen and (min-width: 992px) {

	/* Header */

	.header-container header{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header-container img.logo {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}

	.header-container .title {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
		width: 30%;
		font-size: 26px;
	}

	.header-container nav {
		display: inline-block;
		background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
		width: 60%;
		vertical-align: middle;
	}

	.header-container nav ul {
		display: table;
		width: 100%;
	}

	.header-container nav li {
		display: table-cell;
		width: 20%;
		margin-left: 0;
		margin-right: 0;
	}

	.header-container nav a:hover {
		text-decoration: underline;
	}

	.header-container nav a div {
		font-size: 16px;
		margin: 0 auto;
		border-radius: 0;
	}

	.header-container nav a div:hover {
		font-size: 16px;
	}

}

@media only screen and (min-width: 1200px) {

/* ===============
	Maximal Width
   =============== */

	/* Banner Styles */

	.banner ul {
		height: 150px;
	}

	.banner ul li img {
		height: 150px;
	}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}